/* .home{
    text-align: center;
}
.nav__bar{
    border-radius:2rem;
    width: 100vh !important;
} */

/* .panecov{
    margin: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
} */

.feed-cont{
    overflow-y: auto;
    height: 100vh;
}

.feeds{
    border-radius: 10px;
    border: 1px solid grey;
    margin: 10px;
    padding: 10px;
    text-align: left;
    background-color: grey;
    color: white;
}